
.box {
    justify-content: center;
    align-content: center;
    width: 200px;
    padding: 15px;
    height: inherit;
    background-color: rgba(197, 127, 235, 0.6);
    color: brown;
    font-weight: 600;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    -webkit-box-shadow: 22px 10px 56px 0px rgba(224,98,224,1);
    -moz-box-shadow: 22px 10px 56px 0px rgba(224,98,224,1);
    box-shadow: 22px 10px 56px 0px rgba(224,98,224,1);


}

.box::before {
    content: "♥";
    width: 0;
    height: 0;
    right: 100%;
    top: 100%;
    transform: translateY(-100%);
    position: absolute;
    border-top: 11px solid transparent;
    border-right: 13px solid  rgba(197, 127, 235, 0.6);
    border-bottom: 0px solid transparent;
    -webkit-box-shadow: 22px 10px 56px 0px rgba(224,98,224,1);
    -moz-box-shadow: 22px 10px 56px 0px rgba(224,98,224,1);
    box-shadow: 22px 10px 56px 0px rgba(224,98,224,1);
}


.text_info {
    font-style: italic;
    color: rgba(9, 71, 82, 1);
}

.name {
    font-weight: 600;
    color: darkblue;
    margin-bottom: 5px;
}

.date {
    text-align: end;
    color: black;
}

.myName > span {
    display: block;
    text-align: center;
    max-width: 230px;
    font-size: 3em;
    font-style: italic;
    color: #BD266F;
    text-shadow: 4px 5px 3px rgba(202, 71, 175, 0.72);
    margin-bottom: 20px;
}
