
.box {
    margin-bottom: 10px;
    margin-left: 15px;
    display: inline-block;
    padding: 10px;
    background-color: #3B468C;
    min-width: 150px;
    max-width: 350px;
    min-height: 100%;
    max-height: 100%;
    color: white;
    word-break: break-all;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
}

.box:nth-child(1) {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box::before{
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    top: 100%;
    transform: translateY(-100%);
    position: absolute;
    border-top: 11px solid transparent;
    border-right: 13px solid  #3B468C;
    border-bottom: 0px solid transparent;
}


.text_info {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.name {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: navajowhite;
    margin-bottom: 5px;
}

.date {
    text-align: end;
    margin-top: 5px;
    color: aliceblue;
}

.removeItem {
    flex: 0 1 15px;
    height: 100%;
    background-color: #B8A53E;
    outline: none;
    border: none;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
}

