
.filterTask {
    display: flex;
    justify-content: space-between;
    max-height: 40px;
}

.filterTask_button {
    padding: 0 5px 0 5px;
    flex: 1 0 30px;
    background-color: #3E5770;
    outline: none;
    border: none;
    color: gold;
    line-height: 40px;
    cursor: pointer;
}

.filterTask_button:hover {
    background: #701441;
}

.filterTask_button:focus {
    background: red;
}

.filterTask_button:active {
    background-color: #4F092B;
}

.delete {
    background-color: black;
}
